.blockFadeIn {
    animation:blockFadeIn 0.1s linear;
}

@keyframes blockFadeIn {
    0% {
        opacity: 0;
        filter:blur(5px);
        transform: scale(10%);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(100%);
    }
}

.blockFusion {
    animation:blockFusion 0.2s linear;
}

@keyframes blockFusion {
    0% {
        filter:blur(5px) brightness(200%);
        transform: scale(120%);
    }

    70% {
        filter: brightness(100%);
    }

    100% {
        filter: blur(0px);
        transform: scale(100%);
    }
}