:root {
    --color1:rgb(179, 131, 27);
    --color2:rgb(0, 12, 59);
    --textWhite:white;
    --shadowWhite:rgba(255, 255, 255, 0.075);
    --textBlack:rgb(53, 53, 53);
    --shadowBlack:rgba(0, 0, 0, 0.075);
    --color_signature: white;
    --color_title:white;
    --color_background:rgb(78, 78, 78);
    --caseBackground:rgb(63, 53, 47);
    --gridBackground:#2c2c2c;
}

.box2 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(87, 87, 87);
}
.box4 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(81, 78, 110);
}
.box8 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(51, 51, 56);
}
.box16 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(129, 125, 155);
}
.box32 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(88, 80, 133);
}
.box64 {
    color:var(--textBlack);
    text-shadow: 0px 0px 7px var(--textBlack);
    box-shadow: inset 0px 0px 25px 5px var(--shadowBlack);
    background-color: rgb(204, 198, 235);
}
.box128 {
    color:var(--textBlack);
    text-shadow: 0px 0px 7px var(--textBlack);
    box-shadow: inset 0px 0px 25px 5px var(--shadowBlack);
    background-color: rgb(192, 178, 255);
}
.box256 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(138, 95, 75);
}
.box512 {
    color:var(--textBlack);
    text-shadow: 0px 0px 7px var(--textBlack);
    box-shadow: inset 0px 0px 25px 5px var(--shadowBlack);
    background-color: rgb(236, 222, 182);
}
.box1024 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(167, 37, 37);
}
.box2048 {
    color:var(--textWhite);
    text-shadow: 0px 0px 7px var(--textWhite);
    box-shadow: inset 0px 0px 25px 5px var(--shadowWhite);
    background-color: rgb(85, 0, 0);
}