:root {
    --color_signature: white;
    --color_title:white;
    --color_background:rgb(78, 78, 78);
}

.box2 {
    background-color: rgb(100, 79, 194);
}
.box4 {
    background-color: rgb(57, 45, 109);
}