header {
    width: 100%;
    height: 10vh;
    background-color: rgb(37, 37, 37);
    color:var(--color_title);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}